@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: black;
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid #33353f;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar-logo {
  height: 3rem;
  width: 3rem;
}

/* CV download button */
.cv-button {
  margin-left: auto;
}

.cv-button button {
  color: white;
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  cursor: pointer;

}

.cv-button button:hover {
  background-color: #860640;
}

/* Mobile menu button */
.mobile-menu {
  display: block;
}

.mobile-menu button {
  padding: 0.75rem;
  border: 1px solid #94a3b8;
  border-radius: 0.25rem;
  color: #94a3b8;
  background: none;
  cursor: pointer;
}

.mobile-menu button:hover {
  color: white;
  border-color: white;
}

/* Menu for larger screens */
.menu {
  display: none;
}

.menu ul {
  display: flex;
  padding: 1rem;
  margin: 0;
  list-style-type: none;
}

.menu li {
  margin-left: 2rem;
}

/* Mobile Menu toggle */
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .menu {
    display: block;
  }
}

/* Hero Section container */
.hero-section {
  padding-top: 2.5rem;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 2.5rem;
  padding-left: 11rem;
}

@media (min-width: 640px) {
  .hero-container {
    grid-template-columns: 2fr 1fr;
  }
}

.hero-text {
  align-self: center;
  text-align: center;
}

@media (min-width: 640px) {
  .hero-text {
    text-align: left;
  }
}

.hero-heading {
  color: #38a169;
  margin-top: 1rem;
  font-size: 2rem;
}

@media (min-width: 640px) {
  .hero-heading {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .hero-heading {
    font-size: 4.5rem;
    line-height: 1.2;
  }
}

.gradient-text {
  font-weight: bold;
  background: linear-gradient(to right, #560223, #f9c2d5);
  background-clip: text;
  color: transparent;
}

.welcome-text {
  margin-top: 3rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #921451;
}

.welcome-paragraph {
  margin-top: 1rem;
  color: white;
  font-size: 1rem;
  font-style: italic;
}

@media (min-width: 640px) {
  .welcome-paragraph {
    font-size: 1.125rem;
  }
}

@media (min-width: 1024px) {
  .welcome-paragraph {
    font-size: 1.25rem;
  }
}

.hire-button {
  margin-top: 1rem;
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  width: 100%;
  background: linear-gradient(to bottom right, #820740, #ef71d4, #2ece79);
  border-radius: 9999px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

@media (min-width: 640px) {
  .hire-button {
    width: auto;
  }
}

.hire-button:hover {
  background: linear-gradient(to bottom right, #db398d, #7a0530, #e13ea3);
}

.profile-container {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .profile-container {
    margin-top: 0;
  }
}

.profile-image {
  background-color: #8a0a4c;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1024px) {
  .profile-image-wrapper {
    width: 300px;
    height: 400px;
  }
}

.about-section {
  color: white;
  margin-top: 2.5rem;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  padding: 2rem 1rem;
}

.about-image {
  width: 700px;
  height: 300px;
  padding-left: 200px;
}

.about-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.about-title {
  margin-top: 2.5rem;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}

.about-description {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(247, 204, 204);
  font-style: italic;
  text-align: left;
  padding-right: 200px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
}

.tab-content {
  margin-top: 2rem;
}

.list {
  list-style-type: disc;
  padding-left: 0.5rem;
  color: rgb(247, 204, 204);
}

.project-card {
  width: 15rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  margin-bottom: 0;
  padding: 0;
}

.card-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 15rem;
  margin-right: 15rem;
}

.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
}

.group:hover .overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.icon-link {
  height: 2.75rem;
  width: 2.75rem;
  border: 2px solid #adb7be;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  transition: border-color 0.5s ease;
}

.group/link:hover .icon-link {
  border-color: white;
}

.icon {
  height: 1.75rem;
  width: 1.75rem;
  color: #adb7be;
  transition: color 0.5s ease;
}

.text-content {
  color: white;
}

.title {
  font-size: 1.25rem;
  margin-top: 0.25rem;
  font-style: italic;
}

.description {
  color: #ff1493;
}

/* Main section for projects */
#projects {
  padding: 2rem;
  margin-left: 10rem;
}

/* Heading style */
.project-heading {
  color: white;
  font-weight: bold;
  font-size: 1.875rem;
  text-align: center;
}

/* Container for project tags */
.project-tag-container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

/* Grid container for projects */
.project-grid {
  display: grid;
  gap: 1.5rem;
  margin-top: 1rem;
}

@media (min-width: 640px) {
  .project-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Footer container styling */
.footer {
  border-top: 1px solid #33353f;
  border-left: transparent;
  border-right: transparent;
  color: #10b981;
  padding: 1rem 0;
}

/* Inner container to center content */
.footer-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-title {
  font-weight: bold;
  font-size: 1.125rem;
}

/* Footer text styling */
.footer-text {
  font-size: 0.875rem;
}

/* Main section styling */
.contact-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 6rem 0;
  margin-left: 10rem;
  position: relative;
}

@media (min-width: 768px) {
  .contact-section {
    grid-template-columns: 1fr 1fr;
  }
}

/* Text and title styling */
.contact-heading {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  margin: 0.5rem 0;
}

.contact-description {
  margin-bottom: 1rem;
  max-width: 24rem;
  color: #adb7be;
}

/* Social icons styling */
.social {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.social-icon {
  color: white;
  font-size: 2rem;
}

/* Form container styling */
.contact-form-container {
  max-width: 24rem;
  margin-left: 5rem;
  margin-right: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-input {
  padding: 0.75rem;
  background-color: black;
  border: 1px solid #d73939;
  color: #9ca2a9;
  text-align: center;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  width: 150%;
}

/* Textarea styling */
.contact-textarea {
  background-color: black;
  border: 1px solid #d73939;
  color: #9ca2a9;
  text-align: center;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  width: 150%;
  padding: 0.75rem;
}

/* Submit button styling */
.contact-submit {
  width: 100%;
  padding: 0.75rem;
  background-color: #d73939;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  margin-left: 2.5rem;
  transition: background-color 0.3s ease;
}

.contact-submit:hover {
  background-color: #ec4899;
}
